[2016-05-04 15:51] yurii-zhukow opened #1 "mobile view adopted design"
it is highly appreciated to adopt design of front-end signing view to respect small screens.
i.e. 500x800 pixels or even smaller. need to have native zooming& sliding support leaving navigation elements at their sides.

[2016-05-07 17:59] renderf0x commented on #1
Heya @yurii-zhukow - right now, we're optimizing for smartphone mobile screens when you use the `uXVersion: 2` parameter with `HelloSign.open`. This has been pretty heavily tested on iPhone / Android.
Is there another type of device you had in mind?

[2016-07-11 21:23] ghost opened #7 "Close button missing for embedded requesting and template windows"
This change prevents the close button from appearing for embedded requesting and templates:

https://github.com/HelloFax/hellosign-embedded/commit/5c60a90e918c40e9f18f0efca7f0c2f51152ff49#diff-a5b731da43f7671d41e300f62162770fR542

I'm going to add another check for this to only check this for embedded signing.

[2016-08-05 06:33] xt0rted opened #9 "Setting default configuration values"
Is it safe to set default settings values such as `HelloSign.skipDomainVerification = true;`? I'd like to remove this from the `.open()` function so I can manage it in one spot instead of every spot I open a signing.

The other setting I'd like to use my own default for is `HelloSign.DEFAULT_UX_VERSION = 2;`.

It'd be useful if default settings could be passed to the `.init()` function so it's wel

[2016-08-05 22:07] xt0rted opened #10 "TypeScript typings"
For anyone using TypeScript I just submitted a PR to add typings for this project to DefinitelyTyped. They're based on what's in master right now.
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/10522

[2016-08-10 19:51] renderf0x commented on #9
@xt0rted There shouldn't be any issues with doing that; so long as the HelloSign library is in window scope it should retain your settings.

I don't know if we've yet seen enough cases where folks wanted to do what you're describing to prioritize creating a handler for them in the `init` function, but we'd defo be open to a pull request if you have one.

re: the `HelloSign.DEFAULT_UX_VERSION` - we

[2016-08-10 19:51] #9 closed

[2016-08-10 19:54] renderf0x commented on #10
Awesome, thanks for putting this in @xt0rted . Though we don't currently use TS internally this should be great for folks who do.

Ping back when it's merged, and we (or you via PR) can add a note in the README here about where to find those bindings.

[2016-08-10 19:55] renderf0x commented on #7
Thanks for the PR! Looks like this was merged, so I'm going to close this issue.

[2016-08-10 19:55] #7 closed

[2016-08-10 19:56] renderf0x commented on #1
@yurii-zhukow did you get this working with using the parameter above? Let us know if not; otherwise I'll close this.

[2016-08-10 19:56] #1 closed

[2016-09-25 00:58] cmpaul opened #15 "Fix bug in one-off white labeling options"
When specifying more than one white labeling option, we only replace one occurrence of the hash tag, which causes the `encodeURIComponent` call to truncate the option parameter.

[2016-09-26 19:16] renderf0x commented on #15
This should be fixed with the merged PR above.

[2016-09-26 19:16] #15 closed

[2016-10-04 04:51] renderf0x opened #17 "Proper scaling on iOS 10 requires user-scalable tag set to no"
This will fix a zooming issue on iOS embedded contexts

[2016-10-04 17:16] renderf0x commented on #17
Actually a bit trickier than this. Closing.

[2016-10-04 17:16] #17 closed

[2016-10-06 21:52] landerton opened #19 "Uncaught TypeError: Converting circular structure to JSON"
I get this error whenever I embed a signing document.

[2016-10-13 00:34] xt0rted commented on #10
This was added to Definitely Typed. There's a pending PR for v1.2.0 as well https://github.com/DefinitelyTyped/DefinitelyTyped/pull/11945

[2016-10-21 00:36] #10 closed

[2016-10-21 00:45] renderf0x commented on #10
Added to the readme -- thanks @xt0rted !

[2016-11-02 22:32] renderf0x opened #22 "Some screen elements still getting cut off on iOS 10"
The iFrame height is getting set incorrectly, sometimes causing the insert button to disappear.

[2016-11-02 22:33] renderf0x commented on #22
HS:

Tracking internally as an extension DEV-15453

[2016-11-02 23:03] #22 closed

[2016-11-17 00:05] renderf0x commented on #19
@landerton sorry for the slow response here.

 I'd be curious what you're sending as request parameters - this shouldn't be an issue in most cases.

Please give us a shout at:
apisupport@hellosign.com
and we'll sort you out.

[2016-11-17 00:05] #19 closed

[2017-02-15 06:44] bluespore opened #27 "Issue with Webpack loaders"
## Description

I can't seem to use the library in my react / webpack setup as it seems to have an issue with the way `package.json` is referencing the `version` key [here](https://github.com/HelloFax/hellosign-embedded/blob/master/src/embedded.js#L252).

As far as I understand I've already got json loaders in my config, but surely that should have no bearing on using the library? Is there a compi

[2017-03-10 05:49] thienanle commented on #27
In case anyone else was having this issue, doing this solved it for me:

In webpack DLL plugin settings, add `hellosign-embedded` to excludes:

"dllPlugin": {
  "exclude": [
    "hellosign-embedded"
  ]
}

[2017-03-10 16:43] arjshiv commented on #7
@renderf0x this seems to be happening with `uxVersion: 2`, not sure why.

Our settings look like this:

[code]

When we add `uxVersion: 1` to the `params`, we see the old close button working.

For further context, we're not using any special CSS, but our app is built with React and Redux, and we're using the `npm` version of this code by importing it into our codebase.

Happy to provide further d

[2017-04-19 07:52] thienanle opened #31 "Uncaught Error: only one instance of babel-polyfill is allowed"
I'm getting the error below. My project uses babel-polyfill. Any ideas?

![image](https://cloud.githubusercontent.com/assets/874402/25168934/957da2b4-2528-11e7-8d5d-a6e63f52ed69.png)

[2017-05-14 14:32] leonzinger commented on #19
Hi @renderf0x,

I receive the same error. And i suspect that it causes issues further on.

First time i embed in client it shows the doc for signature and i get the error in console. But when i try to render it again after went back and forth in a single page app based on reactjs it does not render anything in the container.

here is the log after adding debug: true

first time:

`Embed Mount
embe

[2017-06-20 22:10] cmpaul commented on #19
@leonzinger When you say you "try to render it again," what do you mean? Are you requesting a new `sign_url` and calling `HelloSign.open()` with it?

[2017-07-05 16:19] steezeburger opened #32 "EVENT_TEMPLATE_CREATED ever being sent?"
I only see the declaration of `EVENT_TEMPLATE_CREATED` and do not see it ever being sent.

[2017-07-05 16:25] steezeburger commented on #32
I was not receiving the event in the `messageListener` callback for some reason and noticed it was not ever being sent in the code. It appears to be working now however ¯\_(ツ)_/¯

[2017-07-05 16:25] #32 closed

[2017-09-29 19:28] johncmunson commented on #31
Also getting this error. My project uses gulp/babel, but vendor code such as HelloSign does not get transpiled. Which makes me think this may be a bug in the `hellosign-embedded` package

[2017-11-17 14:39] jeteon opened #36 "API defaults to incorrect version"
All the documentation I've come across about embedded signing, e.g. https://app.hellosign.com/api/embeddedSigningWalkthrough, has mentioned that version 2 should be used and version 1 is deprecated. However, the code [defaults to using version 1](https://github.com/HelloFax/hellosign-embedded/blob/master/src/embedded.js#L253), for some reason.

Assuming that you want everyone to use version 2, sho

[2018-01-26 23:10] 10xjs opened #37 "TypeError thrown when `container` and `uxVersion: 2` parameters are set."
This library attempts to serialize the `container` node parameter into JSON when `uxVersion: 2` triggering an uncaught TypeError.

[2018-02-28 00:11] #37 closed

[2018-03-03 20:17] KhalilMohammad opened #40 "Cancel Button Missing"
Cancel button is missing ux version 2 in current release.
I did some research cancel button is found in api 1.0.1 version default version

In current version, If I change to ux version 1 , Cancel button is shown.
Also in current realese ux version 2, cancel button is even rendered.
It appears null in javascript HelloSign.CancelButton

Also It is recommended in walk through to use ux version 2.

[2018-03-08 22:45] jwineman opened #41 "IE11 doesn't support Object.assign()"
https://github.com/HelloFax/hellosign-embedded/blob/69399ddb82f7a08815494b80c90bed919d2b7bd1/src/embedded.js#L652
introduced in
https://github.com/HelloFax/hellosign-embedded/commit/d0e8c9f699b48ec47737f8a442e7853c4cf0ef9b

which results in this error in IE:

`Object doesn't support property or method 'assign'
index.0e9f795f01eede3c6853.js (1,1956673)`

IE 11 doesn't support `Object.assign()`. Wou

[2018-03-12 16:46] jwineman commented on #41
I have a work around
1. Install `babel-plugin-transform-object-assign`
[code]
2. Modify the webpack's `babel-loader` to exclude `/node-modules` _except_ `hellosign-embedded`.
[code]

Convention for npm packages is to ship transpiled javascript to maximize cross browser compatibility and keep build times fast by alleviating the need for consumers of the package to transpile it at build.

Ideally yo

[2018-04-05 14:34] aprudnikoff commented on #31
I have the same issue. My project uses webpack/babel.

[2018-05-08 21:05] #41 closed

[2018-06-05 20:34] jyoung488 opened #47 "Importing via webpack exports as an immutable object"
When importing the hellosign-embedded module via webpack, it's exported as an immutable object so this.clientId = appClientId fails since there's no supported setter. Perhaps another way is needed to store the appClientId to address this.

[2018-06-06 17:27] nathanbuchar commented on #47
@jyoung488 Can you provide a code example with your Webpack config? I've also recently updated the [demo](https://github.com/HelloFax/hellosign-embedded/blob/master/demo/src/index.js) to use the HelloSign npm module as opposed to the CDN source

[2018-07-24 18:48] latoyazamill opened #57 "Frontend Font Error in Console Log with Embedded Signing"
While using:

Google Chrome is up to date
Version 67.0.3396.99 (Official Build) (64-bit)

I am getting the following error upon clicking "getting started" for Embedded Signature Requests:

_Access to Font at 'https://dyn550zzd47ox.cloudfront.net/1.58.0/build/24712f6c47821394fba7942fbb52c3b2.ttf' from origin 'https://app.hellosign.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origi

[2018-09-08 10:43] greenkeeper[bot] opened #67 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-09-11 21:38] #67 closed

[2018-09-11 23:10] sturnquest opened #71 "Error: "init is not a function" with 1.6.0"
I'm getting an error on init with version 1.6.0.

Steps to reproduce:

1. `git clone git@github.com:HelloFax/hellosign-embedded.git`
2. `cd hellosign-embedded/`
3. `shopt -s extglob`
4. `rm -rf !(demo)` (remove all sub-directories except demo)
5. `cd demo/`
6. change the `hellosign-embedded` entry in `package.json` to read: `"hellosign-embedded": "^1.6.0"`
7. `rm package-lock.json`
8. `npm install

[2018-09-12 18:06] nathanbuchar commented on #71
Looking into this, thanks!

[2018-09-12 18:16] #71 closed

[2018-09-12 18:44] jwineman opened #74 "WARNING in ./~/hellosign-embedded/umd/embedded.production.min.js"
If I run webpack with `NODE_ENV=production` I get the following error using `hellosign-embedded` version `1.6.0`

[code]

[2018-09-12 21:08] nathanbuchar commented on #74
Hey @jwineman, do you get the same error in `1.6.1`?

[2018-09-12 21:19] jwineman commented on #74
Hi,

I do not get the warning with `1.6.1`.

[2018-09-12 21:37] nathanbuchar commented on #74
Cool :) Sorry about that, we had a build issue with 1.6.0. It was addressed as soon as it was flagged.

[2018-09-12 21:37] #74 closed

[2018-09-12 21:57] jwineman commented on #74
Thanks for the quick follow up

[2018-09-13 14:27] NikhilPunwaney opened #75 "On load"
While using this, there are many times that the load time is pretty long and people might X out of it because they think something is broken. Is there any way to have a "onLoad" parameter that takes in an object so that we can communicate that it is loading in the meanwhile?

[2018-09-18 21:36] nathanbuchar commented on #75
Unfortunately this capability does not exist at the moment, but we are gearing up to release HelloSign Embedded v2 within the next month. This will have the capability to hook into the `initialize` event, which is triggered when the HelloSign Signer app has loaded and the JavaScript has initialized (essentially "ready").

[code]

I actually like the idea of calling this event `ready` instead of `i

[2018-10-10 20:10] badpk opened #82 "adding signatures on small screen"
hello, I am unable to use the buttons on a small screen/mobile device. here is a screenshot:

<img width="227" alt="screen shot 2018-10-10 at 4 08 33 pm" src="https://user-images.githubusercontent.com/3174282/46763107-f319ec80-cca6-11e8-811c-f148d9451b2a.png">

[2018-10-10 20:20] nathanbuchar commented on #82
Hi @badpk,

Which device are you using?

Oh, actually, this looks like it's the signature request _editor_ which unfortunately isn't officially supported on mobile as of yet.

[2018-10-10 20:44] #27 closed

[2018-10-10 20:44] #31 closed

[2018-10-10 20:44] #36 closed

[2018-10-10 20:44] #40 closed

[2018-10-10 20:44] #47 closed

[2018-10-10 20:44] #57 closed

[2018-10-10 20:44] #75 closed

[2018-10-10 20:47] badpk commented on #82
@nathanbuchar this is the desktop chrome iphone view and it looks the same on a real iphone.

will the signature request editor be responsive in v2? thanks.

[2018-10-10 21:08] nathanbuchar commented on #82
HelloSign Embedded is actually just the wrapper around the app itself and has no bearing on the UI. The buttons, canvas, and everything else you're seeing is living in an iFrame and hosted on app.hellosign.com.

At present, editor support for mobile isn't a _high_ priority, since – as far as we're aware – it's not a common use case. However, I'll be sure to bring it up :)

[2018-10-11 00:33] #82 closed

[2018-10-13 11:44] KhalilMohammad opened #87 "Cancel Button Missing is missing V2"
My existing project was updated automatically to 1.6.x .
I reported this issue in #40 . That issue was resolved by changing ux version.
I updated version of hellosign embedded to latest 2.0 but cancel button is still missing.
Below is the config for hellosign-embedded
client.open(data.signUrl, {
                    debug: IsDevelopment,
                    skipDomainVerification: IsDevelopment,

[2018-10-13 22:30] nathanbuchar commented on #87
Hi @KhalilMohammad,

Just to confirm, which workflow are you using HelloSign Embedded with? Signing, requesting, or templates?

[2018-10-13 22:40] KhalilMohammad commented on #87
I am using Signing flow with template.
To provide some context. I am using npm for package management.
Previous I was using ^1.5.2 which means latest minor version.
I then tried V2 but same problem.
I have now fixed to version 1.5.2 which is working. I will provide you with screen shots later.

[2018-10-15 17:57] nathanbuchar commented on #87
Thanks. So you're expecting there to be a close button in the top right of the modal window? Or is the "Close" menu item missing when you press the "…" in the top left of the modal? Both? Screenshots would help if you can provide, thanks :-)

[2018-10-15 22:55] KhalilMohammad commented on #87
Cross at the top left disappear v2.0 and v1.5.x (probably 1.5.9 or which ever is latest)
I repeat again,I use npm and webpack4.0.
I do not if that has an effect on missing cancel button.

![image](https://user-images.githubusercontent.com/17926533/46982753-04278b00-d0f7-11e8-9fd5-45c929efbb57.png)

[2018-10-16 00:07] nathanbuchar commented on #87
So after some digging, it looks like close button was intentionally removed in UX v2 of HelloSign Embedded v1, and this change followed through into v2.

I'm going to follow up with a few team members about why this change was made and whether or not it should be added back in. In the meantime, users can close the modal by clicking on the ⋮ menu in the top left (after clicking "Get Started"), and

[2018-10-16 21:19] nathanbuchar commented on #87
I should also add, if you're using HelloSign Embedded v1, be sure to add the `uxVersion: 2` parameter in your `HelloSign.open()` call. This will add the "⋮" in the top left of the window, to the right of the HelloSign logo.

[2018-10-17 16:45] KhalilMohammad commented on #87
In my opinion, this is bad ui/ux. Not everybody knows what "⋮" means

[2018-10-17 16:46] KhalilMohammad commented on #87
Also feel free to close this issue.I have fixed my hellosign version to 1.5.2 with uxVersion:1

[2018-10-17 19:45] nathanbuchar commented on #87
Thanks for your feedback @KhalilMohammad!

I agree, users expect certain affordances for common UI elements (like modals). I'll bring this up at the next HelloSign Embedded meeting :-)

[2018-10-17 19:45] #87 closed

[2018-11-29 11:13] kodermax opened #92 "Remove border box"
How can i remove border box?
![image](https://user-images.githubusercontent.com/590985/49218214-e41b0500-f3e0-11e8-94c1-8e6eb051a366.png)

[2018-11-30 21:10] Framinus commented on #92
Hi Max,

The blue border is a focus field that highlights the current field in your signer flow. The border is surrounding the entire group of checkboxes because you are using the group checkboxes feature, which shows the user that one of the boxes in that particular group is required to be checked. Once you are no longer focused on that panel of checkboxes, the blue border will move to highlight

[2018-11-30 21:14] #92 closed

[2019-01-08 21:20] binhxn opened #93 "Failed to minify the code from this file - v2.1.1"
## Description
My code is built using `create-react-app` and I'm using `hellosign-embedded: ^2.1.1`
When I run `npm run build` I get this error:

[code]

I tried following the direction in the link provided through the docs and updating the necessary files, but I'm getting no result; same errors. Do you have any suggestions to fix this?

[2019-01-10 13:09] nathanbuchar commented on #93
I'll take a look at this in a bit :) thanks for noting it

[2019-01-22 17:52] ryan-kimber opened #95 "v2.1.0 & v2.1.0: Standard build behaviour includes both dev and prod.min versions in bundle"
Maybe I am misusing this library, but it seems like if I do the following:

`import hellosign from 'hellosign-embedded`

... then my browserify'd or webpack'd application is going to be built with both the development and production .js files compiled into it, bloating the size of my application instead of making it smaller.

Is there some other way we should be including the library in our build

[2019-01-22 18:20] nathanbuchar commented on #95
Hmm, that's certainly not the intended behavior. I'll take a look at this and see if I can reproduce. Thanks for flagging!

[2019-01-22 18:36] #93 closed

[2019-01-22 18:48] nathanbuchar commented on #95
Should be good now if you update to v2.1.2 :)

[2019-01-22 18:48] #95 closed

[2019-01-22 18:52] nathanbuchar commented on #93
Update to 2.1.2 and give it another shot :)

[2019-01-23 01:38] ryan-kimber opened #99 "embedded.production.min.js includes arrow functions that will not run in older browsers"
Thanks for the extremely quick turnaround on issue #95.

We are having to babelify the code ourselves to get rid of the arrow functions, even on the latest 2.1.2 version. I haven't looked back as far as 2.0, but this seems to affect 2.1.0 and 2.1.1 as well.

[2019-01-23 18:38] AHelpfulFriend commented on #99
We are also having this problem. At a minimum, the dependency on debug is using the untranspiled files from src instead of the transpiled (IE-safe) files from dist. I haven't dug in far enough to see if any other dependency code is causing trouble.

[2019-01-23 22:36] nathanbuchar commented on #99
Oh no! Thanks for flagging. This is certainly not intended. I'll dig into this ASAP.

I do have Babel in place to transpile ES6 syntax, but looks like I'm ignoring `node_modules`. Are ya'll using the npm version of HelloSign Embedded? Or the CDN version?

[2019-01-23 23:20] AHelpfulFriend commented on #99
We're using the npm version.

[2019-01-24 01:09] #99 closed

[2019-01-24 01:11] nathanbuchar commented on #99
Should be 💯 now :) Slightly bigger lib size, but not by much.

[2019-02-07 21:44] pavelasc opened #105 "Close button X is not centered"
With version 2 of hellosign-embedded on IE 11 (version 11.253.17763.0 Win 10) iframe close button X sign is not centered.
Screenshot:
![image](https://user-images.githubusercontent.com/2270401/52444890-74ab4b00-2ade-11e9-9c9d-13ef39f8277a.png)

[2019-02-22 18:21] grimunit opened #107 ""window is not defined" error when using server-side rendering"
When trying to load the module through webpack I'm getting a reference error that it can't find the window object:

[code]

My versions of webpack dependencies:

[code]

[2019-02-22 19:25] grimunit commented on #107
Hmm I'm now realizing that because I have a webpack setup that uses SSR during development and to facilitate a `dist` build that it fails when it attempts to access the `window` object while going through the SSR configuration. Looks like you guys haven't enabled the library to worth with SSR yet.

[2019-02-25 00:28] nathanbuchar commented on #107
I'll take a look at this -- thanks for reporting.

[2019-02-25 19:26] #105 closed

[2019-02-25 19:44] nathanbuchar commented on #107
Give `hellosign-embedded@next` a shot. If that works for you'll I'll release to `latest` :)

[2019-02-25 21:23] grimunit commented on #107
Nope looks like the same thing:

[code]

I have webpack 2 not webpack 4 which is what is capable of utilizing the `globalObject` property of the webpack config that you added. I would love to switch to webpack 4 but could take a while based on how complicated our setup is. I think it might have to use the concept of the `target` being pointed to node or something like that. I found this that kinda

[2019-02-26 00:18] nathanbuchar commented on #107
Appears to be a slightly different issue, but still related (using `window` within a node environment).

Unfortunately, I don't have any SSR environments to try to troubleshoot this with. Would you be able to clone this repo and try to fix it locally? If you can resolve it, please submit a PR with your solution :)

When you clone the repo, `cd` into the project folder and run [`npm link`](https://

[2019-02-27 18:43] nathanbuchar commented on #107
Actually, you might try adding this to your app's codebase somewhere:

https://github.com/reactjs/react-chartjs/issues/57#issuecomment-271106746

[2019-02-27 20:22] grimunit commented on #107
Hmm I just tried this and it got me past that initial problem of window not being defined, but then it just failed on document not being defined. So I went down a little rabbit hole trying to see how much I would need to stub out in order to get past all the undefined browser properties and it is really starting to turn into a mess to get it all stubbed out and it's still not getting past it all.

[2019-03-12 14:34] shakaman opened #110 "Could not load existing sourcemap of "../node_modules/hellosign-embedded/umd/embedded.development.js"."
On the latest version `2.3.0` if  i want to build on development with sourceMap, i get this error. The only solution is to build without the sourceMap.

[code]

[2019-03-14 23:18] nathanbuchar commented on #110
Noted, I'll take a look into this. Thanks for flagging :)

[2019-03-14 23:20] nathanbuchar commented on #110
Which module bundler are you using? Webpack, parcel, rollup, other?

[2019-03-15 08:24] shakaman commented on #110
Hey @nathanbuchar, I use parcel `1.10.3`

[2019-03-18 02:35] morozRed commented on #110
@shakaman @nathanbuchar saw this problem as well, works fine with `parcel 1.11.0` but not working with `1.12.XX`

[2019-03-18 17:42] nathanbuchar commented on #110
@morozRed interesting. That's very valuable information, thanks :)

[2019-03-18 18:00] morozRed commented on #110
@nathanbuchar happy to help! I'll try to look into it as well. Also I was using same babel plugins for both Parcel versions

[2019-03-19 23:38] nathanbuchar commented on #107
Hey @grimunit, just wanted to check in.

Are you up and running? If so what have you done to solve your problem? Or are you still blocked?

[2019-03-20 14:51] grimunit commented on #107
Unfortunately I had to get prioritized on to other things. Right now I'm just using the older CDN version for my react app because that's currently working. And then for the other bundle that's just meant for processing the signature requests in the native app I'm using the newer npm imported version since that isn't server-rendered at all.

[2019-04-01 03:59] NickFoden opened #111 "Unable to use hellosign.embedded.getEditUrl in test mode"
Unsure/unable to pass `test_mode: 1` to the `getEditUrl` method.
Getting a log from API that locked templates cannot be accessed, but the template was created with test mode = 1 see bottom here.

Is it possible to test this method before putting in production?

[code]

templates have been created with test_mode = 1
[code]

[2019-04-02 18:03] NickFoden commented on #111
Talking to API Team today, all templates created in test mode are locked and unable to be edited.

[2019-04-02 18:03] #111 closed

[2019-04-02 23:10] nathanbuchar commented on #111
Hey @NickFoden, glad our API Support team helped you out :) Let us know if you have any other issues!

[2019-04-03 18:24] jamesloewen opened #112 "Unable to close embedded iframe"
Experienced in version 2.3.0

I am opening a claim url, configuration is:
[code]
And opening with
[code]

In this environment, the close button in the top right is visible but clicking on it does nothing

[2019-04-03 22:42] jamesloewen commented on #112
In general it seems like the events aren't being received correctly because https://github.com/hellosign/hellosign-embedded/blob/master/src/embedded.js#L1042 is attached to the window rather than the iFrame

Note: Tested by calling https://github.com/hellosign/hellosign-embedded/blob/master/src/embedded.js#L516 with the window instead of iFrame and `_onMessage` is now being called.

[2019-04-08 17:45] nathanbuchar commented on #112
Noted, I'll take a look. Thanks for the report

[2019-04-08 17:47] nathanbuchar commented on #112
@jamesloewen in your note, did you said:

But did you mean to say?

Just want to make sure I'm understanding correctly so I can better troubleshoot the issue

[2019-04-08 17:56] jamesloewen commented on #112
I called it directly on the `window` (where the listener is attached) and got the debugger in `_onMessage` triggered.

Calling it on the `iFrame` is what is currently happening and appears to be causing the bad behavior. I did not adjust the event listener at all.

I imagine attaching the event listener onto the iFrame will resolve it without polluting top level scope

[2019-04-08 17:58] nathanbuchar commented on #112
Interesting, because when I was developing the library, I had originally added the event listener to the frame instead of the window, but it was never triggering. Adding it to the window instead fixed those issues.

Which browser are you using? Perhaps different browsers handle this differently (I should hope not).

[2019-04-08 18:03] jamesloewen commented on #112
This was tested using Chrome 72 and I think I tested on latest Firefox as well but can't remember specifically.

Cross browser behavior was definitely something that crossed my mind as for why this would crop up. I've also never worked directly with iFrames so not sure what all the headaches are around edge cases on that

[2019-04-08 18:19] nathanbuchar commented on #112
Just mocked something up really quick:

[code]

This worked fine for me (Chrome Version 73.0.3683.86)

[2019-04-08 18:30] jamesloewen commented on #112
Hmm, I'll keep looking, see if that works for me as well. Thanks for looking into this

[2019-04-08 18:49] nathanbuchar commented on #112
If you're still experiencing issues, I'd recommend reaching out to apisupport@hellosign.com. They're a dedicated team for helping with these kinds of issues. There might be some edge case with your implementation or quite possibly a bug in our app code somewhere, but they'll be able to troubleshoot the problem more effectively than I for the time being :)

[2019-04-08 18:56] nathanbuchar commented on #112
Quick q, when you click the close button, do you see `sending cancel request message` logged to the console via debug?

[2019-04-08 23:15] neolytics opened #113 "Need cross domain iframe interactions to bubble up user mouse events to prevent session timeouts."
I've been digging through hellosign-embedded looking to see if I can fix an issue we are encountering.

We are in a security sensitive area and have very short login sessions based on user activity such as mouse movement etc.

Because hellosign-embedded is.. embedded and in a different domain we are unable to retrieve events from user action in the iframe and thus in cases where users have very lo

[2019-04-10 00:01] nathanbuchar commented on #113
Just letting you know we received your report. I'm discussing internally with the team, I'll update you when I have more info :)

[2019-04-10 22:02] Framinus commented on #113
Hi @neolytics - this is James from API Support at HelloSign. I was just discussing this with @nathanbuchar. Would you mind writing in to apisupport@hellosign.com so we can get this conversation on an internal ticket? Thank you!

[2019-04-12 22:10] nathanbuchar commented on #113
Moving this ticket internally; closing here.

[2019-04-12 22:10] #113 closed

[2019-04-23 17:55] nathanbuchar commented on #112
@jamesloewen Just wanted to check in and see how things are going. I understand you're using a combination of both v1 and v2, and I would love to help you get v2 working 100% :)

My initial impression was that you were using HS Embedded in the browser, but from what I hear you're actually using it within a mobile app? Can you tell me about the architecture? Are you using React Native, Swift, Objec

[2019-04-23 17:59] jamesloewen commented on #112
We are using it in browser, not sure where mobile would have come from (didn't realize that was even possible). I've been super busy the last 2 weeks and preoccupied with other tasks so I ended up rolling back to V1 for now and making the other improvements I needed on that version.

I hope to revisit this over the next few weeks, but not sure where that lands unfortunately.

We are installing fro

[2019-04-23 18:02] nathanbuchar commented on #112
Thanks for the update. With respect to mobile, I may have my wires crossed :) Apologies! I'll check back in with the API Support team to make sure I'm referencing the correct account

[2019-05-01 20:42] jamesloewen commented on #112
Okay, finally got around to testing today.

Close button seems to be fine in the example you provided above (although the signature request wasn't fully loading, not sure if that is an equivalent test), but still having the issue on our end. I suspect some of our code is somehow conflicting with HS and not sure what that is.

Will post back if I figure out a solution or at least figure out how to

[2019-05-01 22:01] jamesloewen commented on #112
At https://github.com/hellosign/hellosign-embedded/blob/master/src/embedded.js#L857 if you force `this._isReady` to true, you can replicate the issue I'm having in the example provided at https://github.com/hellosign/hellosign-embedded/issues/112#issuecomment-480946598

Currently running Chrome 73.0.3683.103 on Mojave

[2019-05-02 23:03] nathanbuchar commented on #112
@jamesloewen one of our in-house developers also ran into this issue using embedded templates. I'm seeing that HelloSign Embedded is sending the close request to the server, but it appears that the HelloSign app itself is not posting the close confirm message back to Embedded. I suspect the problem he is our app code, not HelloSign Embedded.

I'll dig into this some more :)

[2019-05-08 22:22] nathanbuchar commented on #112
@jamesloewen are you by chance specifying a `redirectTo` URL?

[2019-05-08 22:26] jamesloewen commented on #112
I am not

[2019-05-15 01:40] notadamking commented on #112
We are experiencing this issue as well. Any resolutions yet?

[2019-05-27 18:40] scottlaplante commented on #110
Turns out this was/is a bug in parcel. The regular expression that is used to determine if a file contains a valid sourceMap was incorrectly matching on the `sourceMappingURL=` part in the middle of files.

https://github.com/parcel-bundler/parcel/pull/2427

[2019-06-06 17:30] nathanbuchar commented on #112
Just wanted to give an update. I'm sorry for the delay in this, I've been pretty booked solid on other work, but one of our engineers is currently in the process of fixing this right now.

We've identified the problem as an issue with HelloSign proper, not the HelloSign Embedded library. Something around how we validate the window message origin on the HelloSign app side. Because this is an issue

[2019-06-24 18:30] ayushnawani commented on #112
Hi @nathanbuchar, I am also unable to close the iframe modal. I any idea when it will be fixed?

Thanks

[2019-06-26 21:02] nathanbuchar commented on #112
The fix is already slated into the next development sprint. No worries, a fix is coming! The root of the issue is known, it just has to go through the formal process. Unfortunately, because this is an issue with our core codebase and not this repo in particular, it may be a few weeks just because of the red tape involved with QAing and publishing code (we're SOC2 compliant), but in the meantime yo

[2019-07-22 00:09] flyboarder opened #125 "Sign event is useless"
When receiving a 'sign' event.

The response object has the `signatureId` which cannot be used for anything useful.

Please include the `signature_request_id` or the entire signature request as a response object.

[2019-07-22 21:59] nathanbuchar commented on #125
ftfy.

[2019-07-22 22:01] nathanbuchar commented on #125
I'll run this up the chain to try get it slotted in for a later sprint, but at the moment this is likely pretty low priority. I don't disagree, more properties in the event data would be helpful :) There are some properties though that the frontend just doesn't have access to without some retrofitting, which is why I suspect the data we send over right now is pretty limited.

[2019-08-05 17:13] nathanbuchar commented on #112
Hey all, we had a production release last week and all seems stable. This bug _should_ be fixed now. As it was an issue with our HelloSign internal codebase and not this library itself, at the moment there is no need to update HelloSign Embedded, it should start working automatically.

Please let me know if you continue to run into problems. I'm sorry about the delay, being a SOC 2-compliant with

[2019-08-05 17:14] #112 closed

[2019-08-12 20:08] jamesloewen commented on #112
Looks like the issue was resolved for me. @nathanbuchar do you happen to know what events should be triggered from hitting the close button there?

[2019-08-20 07:33] flyboarder opened #126 "Open method should also return a promise"
By allowing us to chain the open method we can better handle signature events without having to store data in a global scope.

[2019-08-22 00:03] nathanbuchar commented on #126
Not a bad idea! Will keep this in mind for the future :)

[2019-08-28 09:12] vanwalj opened #127 "The default exported module is the development build"
I don't know if it's intended and I can't find anything about it but the default export of the module is the development build of the library located at `./umd/embedded.development.js` which is non minified and with inlined source-maps

[2019-08-28 09:41] vanwalj opened #128 "srcElement is undefined"
It seems that [`srcElement`](https://github.com/hellosign/hellosign-embedded/blob/32fe889aa1c5dc19baf0a29c4003e6e723b01847/src/embedded.js#L862) is not supported by older firefox versions which is causing the script to crash

---

Update: this prevent the user from exiting the modal by clicking the upper right close button which is throwing a `TypeError: e.srcElement is undefined` when clicked

[2019-09-09 06:21] nathanbuchar commented on #128
Thanks for the flag, we'll take a look. Sorry for the late reply, I'm the primary maintainer on the project and I've been out on vacation for the last week or so :)

[2019-09-09 06:22] nathanbuchar commented on #127
Which version of HS embedded are you using? I thought I cleaned that up in a release not too long ago

[2019-09-09 06:49] vanwalj commented on #127
We're using version 2.5.0 installed from npm.

But the problem might just come from the fact we're bundling our app using Webpack:
I don't know about other builders but to resolve the entry point of a module Webpack is looking for the `package.json` `main` entry, which in this package point to `index.js` which itself exports `./umd/embedded.development.js`.

I might be wrong, but I think exporting

[2019-09-09 06:53] vanwalj commented on #128
No worries, I can submit a pull request fixing this issue if you want, I'll be happy to contribute!

[2019-09-09 17:54] nathanbuchar commented on #128
That would be great, thanks @vanwalj! Be sure to take a look at the [Contributing Guidelines](https://github.com/hellosign/hellosign-embedded/blob/master/.github/CONTRIBUTING.md) :)

[2019-09-10 23:03] jwineman opened #129 "UMD default export breaks isomorphic React applications"
Server frameworks like [NextJS](https://github.com/zeit/next.js/) render the same code on the server that they do on the client to simplify the implementation of functionality like server side rendering.  If I try to import HelloSign like this:
[code]
I get the following error during the server build:
[code]
To fix I have to import like this:
[code]
Ideally the `import` wouldn't have any side-effe

[2019-09-21 16:23] bradpurchase commented on #107
We are having the same issue with `hellosign-embedded` where it is not working when using server-side rendering:

[code]

[2019-10-02 05:11] ayushnawani opened #130 "hellosignClient.on("createTemplate") event is not actually called when template is created"
Hi
hellosignClient.on("createTemplate") event is not actually called when template is created.

I am using this even to call my backend and when I check on my backend to get edit URL of the completed template, it throws error template not found.

After 5-10 seconds it is actually creating the template.

Cant hellosignClient.on("createTemplate") event be triggered when the template is actually crea

[2019-10-02 21:26] nathanbuchar commented on #130
Noted, I'll send it over to the team :)

[2019-10-02 21:32] latoyazamill commented on #130
Hi @ayushnawani can you please write into apisupport@hellosign.com. We will be more than happy to help investigate and resolve this issue for you. Thanks :)

[2019-10-17 11:09] gadiGuesty opened #134 "bundle size is 27kb minified"
please see [this link](https://bundlephobia.com/result?p=hellosign-embedded@2.5.0)...
I don't understand why it's got to be so heavy...

[2019-10-21 12:53] virusmickey opened #135 "HelloSign.DEFAULT_TIMEOUT = require('http').createServer().timeout;"
Getting error in this line idk why im trying to implement this in react js project when i add the import statement this error comes up

![Screenshot from 2019-10-21 18-20-30](https://user-images.githubusercontent.com/6754133/67206707-d246b400-f42f-11e9-92a0-184476f775a1.png)

[2019-10-28 17:19] latoyazamill commented on #135
Hi @virusmickey We'd love to take a deeper look at this and have a couple of ideas as to what might be taking place. Are you able to write into apisupport@hellosign.com so that we can start to investigate this in greater detail? Thanks!

[2019-10-28 17:19] #135 closed

[2019-11-25 15:09] ahaverty opened #138 "Redirecting to another page in 'sign' event listener, blocked by _onBeforeUnload"
I'm trying to redirect to a success page after a successful signature, but the v2 embeddable client is blocking the redirect with this onbeforeunload: https://github.com/hellosign/hellosign-embedded/blob/32fe889aa1c5dc19baf0a29c4003e6e723b01847/src/embedded.js#L917

Snippet of my relevant code:
[code]
It works if you click 'leave', but the confirmation popup would scare even the most technical use

[2019-11-25 15:26] ahaverty commented on #138
Here's my workaround for now:
[code]

I think it's fair to assume that onBeforeUnload shouldn't still be set by the time `HelloSign.events.SIGN` is called back. + This is now adding an unnecessary button click ("closing the iframe with 'close') to my user's journey.

[2019-11-27 18:20] nathanbuchar commented on #138
Hey @ahaverty! Have you tried using the `redirectTo` option when calling `.open()`?

[code]

[2019-11-27 18:21] nathanbuchar commented on #138
Oh I'm sorry, I missed your comment _I also tried to get the redirectTo to work, but it throws some error within the iFrame about cross origin_. That must be a bug, I'll look into that. Stay tuned!

[2019-11-27 18:26] nathanbuchar commented on #138
Just a few days ago we actually rolled out a new signer app codebase which might be causing this issue. To help me better diagnose, can you confirm that you are still seeing the cross-origin error when using `redirectTo`?

[2019-11-27 19:02] nathanbuchar commented on #138
@ahaverty, I just tried using the `redirectUrl` option for v1 and the `redirectTo` param for v2 and both worked without issues. Could it be that the site you're trying to redirect to is sending incompatible X-Frame-Origin headers?

[2019-11-27 22:20] nathanbuchar commented on #138
After some internal discussion, we've come up with the following solution for you. Simply call `.close()` before replacing `window.location`. Calling this method will close the modal and also remove the `onunload` event listener.

[code]

Let me know if that works :)

[2019-11-28 08:07] Khaledneo opened #139 "Is it possible to download the document as PDF file?"

[2019-11-30 03:39] nathanbuchar commented on #139
It is! By using the [`/signature_request/files`](https://app.hellosign.com/api/reference#get_files) endpoint of the HelloSign API. Feel free to reach out to our dedicated API support team at apisupport@hellosign.com if you have any more questions :)

[2019-11-30 03:39] #139 closed

[2019-12-09 19:09] kybradeck opened #140 "Default modal renders beneath z-indexed elements"
Hello!

Currently using the default hellosign-embedded modal in an app. Unfortunately, it's rendering beneath elements which have (quite low) z-indices.

Could you provide an option to configure a z-index for the hellosign modal, or give it a default z-index which is high? My assumption is most people would not want UI to render on top of the hellosign modal.

[2019-12-10 06:04] nathanbuchar commented on #140
Unfortunately there's no one-size-fits-all solution for z-index. Sending it in through as an option could be possible, but it would override any other styling. If you'd like to customize the CSS, you're more than welcome! Try just applying a `z-index` property to `.x-hellosign-embedded` in your CSS. If that doesn't work, feel free to re-open.

[2019-12-10 06:04] #140 closed

[2019-12-20 20:30] swathikc commented on #107
If your library import looks like this
`const Library from require('library-package');`
do
`const isBrowser = typeof window !== 'undefined';`
`const Library = isBrowser ? require('library-package'): undefined;`

If the import looks like this
`const { Library } from require('library-package');`
do
`const isBrowser = typeof window !== 'undefined';`
`const Library = isBrowser ? require('library-packa

[2020-01-23 22:22] davidmccoy commented on #138
i also ran into this issue and your solution worked for me @nathanbuchar! thank you!

[2020-01-30 18:25] benmgreene opened #141 "Can no longer zoom into embedded form"
Hi there,

We've noticed that we can no longer use standard gestures (or any other method, for that matter) to zoom into our embedded forms. Additionally, when clicking the Next Field button, the page is no longer directed to and zoomed in for that field.

Was this behavior change intended?

Our implementation hasn't changed in a year. Is it possible to test with previous versions of the SDK? I've

[2020-01-30 19:16] nathanbuchar commented on #141
This sounds like an issue with our signing app. I'll fw to the team!

[2020-01-30 19:19] benmgreene commented on #141
Thanks very much!

[2020-01-30 23:59] alexmac05 commented on #141
Thank you for reporting this issue, Ben.

We are in fact aware of this case and actively working on refactoring the signing module for mobile devices.

I've filed a ticket on your behalf in case you have any further question # 10232754. We will let you know when the fix is released. It is being actively developed so while I cannot give an exact time or date, I can tell you the fix is being develop

[2020-01-30 23:59] #141 closed

[2020-02-03 16:38] benmgreene commented on #141
Hi Alex,

I feel like I’m not in on the joke here… this used to work, and you guys broke it. Is there at least a previous version of the library we can use? Dropbox Support gave me a *very* poor reply that clearly doesn’t even realize I am current customer (see below). In any case, if you guys can’t get it together, looks like you’ve got some competitors who have.

Email from support:

[2020-02-03 18:48] alexmac05 commented on #141
Hi Ben,

Dropbox support is us. It might help if we got on a call? Maybe if you could talk to us face to face? Basically, we know it is broken and we are planning to fix it in the short term.

[2020-02-03 18:52] alexmac05 commented on #141
@hazemhamedhs is going to reachout to you to offer you a link to schedule a call so we can talk this over. I'm sorry that our response was confusing. We were trying to send you the update information that we acknowledge the issue and that we are planning to fix it. We don't give out dates for fixes because it becomes too hard to manage changing dates with releases, but it is acknowledged as an iss

[2020-02-03 18:55] alexmac05 commented on #141
Also, this issue is not with our embedded.js library but rather with our signer page, which is represented in another code base than the one represented on this github repo. So, we should be talking in the dropbox support ticket vs. this git hub repo. Hope this makes sense and also I think a call will go a long way to building up our relationship. We do want to smooth this over. It is the same exa

[2020-02-03 18:56] benmgreene commented on #141
Hi Alex — thanks for the clarification. Yes I’m aware of the Dropbox acquisition. What really rubbed me quite the wrong way is that they didn’t bother to look up our account, they just asked me prospecting questions.

In any case, I’d love to know if there’s a way I can use an older version of the library until the fix is complete — this is a really big deal for us, as I imagine it is for many of

[2020-02-03 19:02] alexmac05 commented on #141
I'm not sure if there is but Hazem will know. I'll let him know this is where you are leaning. Thank you for your patience.

[2020-02-06 09:35] gadiGuesty commented on #134
Any chance to get a response from you guys? are working on a slimmer version?

[2020-02-06 15:22] haikyuu opened #142 "Unkown error when signing contract"
I get an unknown error when signing the contract.

![image](https://user-images.githubusercontent.com/8558836/73950646-8fd0b680-48fc-11ea-8ac9-c000fc7668db.png)

Here is a recording of the error and how it happens: https://www.loom.com/share/85dad347b81b4edea39b1bc925b20c1a

[2020-02-06 21:42] hazemhamedhs commented on #142
Hi Abdellah,

Thank you for bringing this case to our attention.

Since then, we have filed a ticket to complete our conversation with you under #10258499.

Please be on the look for our response to the ticket.

[2020-02-06 21:42] #142 closed

[2020-02-07 11:54] haikyuu commented on #142
Thank you Hazem

[2020-02-07 21:28] nathanbuchar commented on #134
Hey @gadiGuesty, thanks for following up. That link you provided is very helpful, I'll try to set some time aside to look into the history to see what could be causing this!

[2020-02-13 23:09] jdarrohn opened #143 "CORS issues with fonts"
**Note:** I already saw this issue here that has been closed out:
https://github.com/hellosign/hellosign-embedded/issues/57

We are receiving similar errors now, where `app.hellosign.com` is having difficult hitting `cdn.hellosign.com`. Other times, we are seeing issues with CORS and Adobe TypeKit.

![Screen Shot 2020-02-13 at 10 05 21 AM](https://user-images.githubusercontent.com/7231602/74486838

[2020-02-14 18:10] nathanbuchar commented on #143
HelloSign Embedded is just a library which wraps `app.hellosign.com`, so I bet the issue is actually coming from our signer app. I'll forward to that team to take a look into this issue!

[2020-02-14 18:18] latoyazamill commented on #143
Hi @jdarrohn We will close this issue and continue to discuss in the support ticket that has been opened. Thanks!

[2020-02-14 18:18] #143 closed

[2020-02-17 03:04] wiadev opened #144 "Keyboard navigation(Accessibility) doesn't work in a signature form."
Hi
I'm using the hello-embedded iframe modal in my project and the keyboard navigation for Accessibility doesn't work in a signature form.

![Screen Shot 2020-02-16 at 7 01 32 PM](https://user-images.githubusercontent.com/18234060/74620710-e2755400-50ee-11ea-99e0-ec546452e911.png)

Could you take a look at it ASAP?

FYI, I've checked the form in hellosign.com and it's not even working over there.

[2020-02-19 07:49] wiadev commented on #144
@nathanbuchar Could you please take a look at it?

[2020-02-21 21:10] nathanbuchar commented on #144
Hi @wiadev, I'll forward to our team. By the way, HelloSign Embedded just wraps hellosign.com in an iFrame. That would explain why it wasn't working there either. At the moment, I'm uncertain of how much a11y support we have in our signer app, but I'll make sure someone follows up with you :)

[2020-02-21 21:12] nathanbuchar commented on #144
As this is a missing feature on the HelloSign webapp and not HelloSign Embedded, I'll close this for now, but rest assured I've forwarded this to our webapp team!

[2020-02-21 21:12] #144 closed

[2020-02-21 21:16] #138 closed

[2020-02-21 21:25] nathanbuchar commented on #127
As per #93, some users were having issues when we exported the production version by default, so we switch it to the development version to allow developers to decide if they wanted to minify it or not. Feels like a catch-22 situation for me, but I'm open to suggestions -- if exporting the productoin build by default is better for the _majority_, I'd be happy to switch back to how it used to be

[2020-02-22 00:43] hazemhamedhs commented on #144
Hi there,

This is Hazem from API support stepping in for Nate.

Please email us at apisupport@hellosign.com from the email address associated with your account and we’ll be able to update you on the status of this issue.

Thank you for your cooperation.

[2020-02-26 03:05] Sora2455 opened #147 "CSP eval error"
Hi all

On the site I work on, we use a Content-Security-Policy to, among other things, forbid the use of eval, as it is a security vulnerability.

The HelloSign-embedded package trips this Policy to obtain the global object using the `new Function("return this")()` trick. If that returns an error, as it does on my site, then the code tries to get the window object. While this works, it causes CSP

[2020-02-27 19:49] nathanbuchar commented on #147
Hey @Sora2455, thanks for the note. Looks like the UMD wrapper is injecting this code into the dist files. I'll see if there is a way to configure this with Webpack!

[2020-03-02 19:31] nathanbuchar commented on #147
@iangcarroll for visibility

[2020-03-02 19:36] nathanbuchar commented on #147
Looks like this is actually coming from one of the `core-js` dependencies (`symbol` to be exact). Will have to take a deeper look as to how to resolve

[2020-03-02 19:41] nathanbuchar commented on #147
@Sora2455 this looks like it's out of my control since it's coming from a third-party package which we rely on for polyfilling :\ I'd recommend opening up an issue on [core-js](https://github.com/zloirock/core-js/)

Here are some related issues: https://github.com/zloirock/core-js/issues/274, https://github.com/zloirock/core-js/issues/11

If you have any other ideas, please don't hesitate to sugge

[2020-03-02 20:42] Sora2455 commented on #147
It looks like core-js fixed their fetching of the global object in May last year: https://github.com/zloirock/core-js/commits/5a66505301b64d13f7bcf96b1e9ab55e4ff35fe6/packages/core-js/internals/global.js.

Would it be possible to upgrade the core-js version?

[2020-03-02 22:13] nathanbuchar commented on #147
Hmm, I upgraded to `core-js@latest`, and I'm still seeing `new Function("return this")()` in the built file, this time only inside `web.dom-collections.iterator.js`.

[2020-03-03 05:15] Sora2455 commented on #147
That's not web.dom-collections.iterator.js - that's a file that requires web.dom-collections.iterator.js, and searching for a file that does that in core-js turned up nothing.

I'll have a look through your other dependencies later today to see if I can find the offending file.

[2020-03-03 09:26] Sora2455 commented on #147
Okay, looks like this is a Webpack file (\node_modules\webpack\buildin\global.js), not a core-js one... I'll see if updating webpack removes it.

[2020-03-03 09:45] Sora2455 commented on #147
Bother. Webpack _has_ fixed this problem, but for their 5.0.0 release (which is currently in beta).

[2020-03-03 23:35] nathanbuchar commented on #147
Sorry! I'd love to resolve it as soon as it becomes possible on my end.

[2020-03-19 11:28] scottpicquerey commented on #128
Hello, has this issue been fixed somehow ?

This error happened twice recently on the following settings :
- User 1: Windows 7 + firefox v.57
- User 2: Windows XP + firefox v.52

Maybe this setup is so old you don't want to handle it. If so, please let me know :)
Thanks for the help !

[2020-03-25 12:02] dvprrsh opened #148 "Embedded signing V2 not taking up full height of iFrame"
This is what I have for the open the application is using React and this open is in a useEffect, let me know if you need any more information, hopefully.
[code]

[2020-03-25 13:55] #148 closed

[2020-03-25 13:56] dvprrsh commented on #148
Realised it was because the iFrame had a min-height not a height

[2020-03-31 19:30] #128 closed

[2020-03-31 19:30] #129 closed

[2020-03-31 20:01] #130 closed

[2020-03-31 22:26] nathanbuchar commented on #129
This should now be fixed in `hellosign-embedded@v2.7.2`. Thanks for your patience!

[2020-03-31 22:26] nathanbuchar commented on #128
Sorry for the delay! This got lost on my end. This should now be fixed in `hellosign-embedded@v2.7.2`. Thanks for your patience!

[2020-03-31 22:27] nathanbuchar commented on #128
Honestly, I don't know why I was using `evt.srcElement` here. I might have been looking something up and copied it over without thinking. Swapped it out with `evt.target`, should work now :)

[2020-03-31 22:28] jwineman commented on #129
thanks!

[2020-04-01 09:40] scottpicquerey commented on #128
No problem, thanks for the followup ! :)

[2020-04-06 01:34] nathanbuchar commented on #107
This should now be fixed in `hellosign-embedded@v2.7.2`. Thanks for your patience!

[2020-04-06 01:34] #107 closed

[2020-04-08 02:48] sadness20 opened #150 "Hellosign modal covered by static navbar, can't change z-index"
Can't change hello sign's z-index using any of the classes like .x-hellosign-embedded, it's rendering beneath my bootstrap static navbar, it only shows up correctly when I change my navbar's z-index to 0 but then other elements go through the navbar, is there a way I can set hello sign's z-index to a higher value?

[2020-04-08 20:27] an-workramp opened #151 "CSP error"
I am using the latest version of `embedded.production.min` as follows:

[code]

A frame pops up with the message "Missing parameter, no ID" and I get the following errors in console:

<img width="869" alt="Screen Shot 2020-04-08 at 2 25 49 PM" src="https://user-images.githubusercontent.com/55512956/78830288-ed3cbe80-79a4-11ea-9596-11685f6b48d9.png">

The page's CSP header value is set to `script-s

[2020-04-09 11:32] cyrus-za commented on #107
@nathanbuchar this doesn't work for me in v2.7.2

[2020-04-09 13:22] josiahwiebe commented on #107
I started using a dynamic import to make this work with Next.js. I also haven't tried [v2.7.2](https://github.com/hellosign/hellosign-embedded/releases/tag/v2.7.2) yet so perhaps that will allow me to eliminate some of this.

**pages/index.js**
[code]

**components/HelloSign.js**
[code]

[2020-04-09 14:57] an-workramp commented on #151
To add to this, when I click the green "Continue" at the top of the editor, I get the error `Could not save! DOMException: "Permission denied to access property "protocol" on cross-origin object"`.

<img width="1138" alt="Screen Shot 2020-04-09 at 8 57 21 AM" src="https://user-images.githubusercontent.com/55512956/78909068-3130d180-7a40-11ea-99b7-95c6a8966e4e.png">

[2020-04-09 19:47] janetanne commented on #151
this was resolved via ticket #10512043.

thanks for working with us @an-workramp !

[2020-04-09 19:53] #151 closed

[2020-05-07 20:16] zaeem opened #152 "URLSearchParams issue"
Hi, I have migrated HelloSign API from v1 to v2 (https://github.com/hellosign/hellosign-embedded/wiki/Migration-Guide-(v1-to-v2)), it working fine locally but when I have deployed it to the server I am getting error: Cannot read property 'URLSearchParams' of undefined.

Can anyone please let me know that why this issue is occurring?

[2020-05-07 20:31] hazemhamedhs commented on #152
Hi Zaeem,
Thank you for reaching out, and sorry for the inconvenience caused.
I've filed a ticket within our support system to get more information about your implementation.
Can you please get back to us at #10645835
I will be on the look-out for your next reply.

[2020-05-07 20:31] #152 closed

[2020-05-08 06:43] zaeem commented on #152
Hi @hazemhamedhs - Can you please provide a path of #10645835 so that I can comment there.

Also, We have used like this after downloading hellosign-embedded through npm

helloSign = new HelloSign({clientId})
helloSign.open(url, {skipDomainVerification: true})

[2020-06-02 17:31] mpryvkin commented on #150
I fixed it by assigning high enough `z-index` to `.x-hellosign-embedded` after migrating to v2.

For example:

[code]

[2020-06-04 18:50] ditkin opened #153 "v2 does not emit error when opening signature with expired verification token"
Hello!

We're upgrading from hellosign-embedded v1 to v2, and the most frequent error our customers encounter is that they clicked on an expired verification email to access our app.

In v1, when starting the embedded signing flow with an expired token, we could rely on `messageListener` catching an error event. This was very useful for us to show a custom error message to the user.

![image](http

[2020-06-04 19:03] hazemhamedhs commented on #150
Thank you for offering the workaround, Michael.
@sadness20, if you are still having any issues with the iFrame, please file a ticket by emailing us at apisupport@hellosign.com to take a look at your use-case and assist you further.

[2020-06-04 19:03] #150 closed

[2020-06-04 23:20] hazemhamedhs commented on #153
Thank you for reaching out, and sorry for the inconvenience caused.

This specific error has not been built so far in the V2 embedded library. That said, I can file a feature request on your behalf with the engineering team.

In the meantime, we highly recommend you to listen to your callback event "sign_url_invalid" when a signer is hitting an expired link to regenerate a new sign_url link. You c

[2020-06-04 23:20] #153 closed

[2020-06-05 01:20] epricer opened #154 "Receive a createTemplate event even when the user cancels using the toolbar"
Using version 2.7.2, Embedded Template Creation
If the user clicks the Close "X" on the left side of the toolbar:
![image](https://user-images.githubusercontent.com/9825333/83825885-8daf1680-a6a8-11ea-8384-7a5106782aea.png)
The client fires a series of events INCLUDING a createTemplate Event, but NOT a cancel event. This happens whether or not 'allow cancel' is enabled, and whether or not the temp

[2020-06-05 16:05] ditkin commented on #153
@hazemhamedhs if possible, if you could file a feature request for this, that'd be great. It helps our customers understand why they can't sign in the most common case.

Just looking to confirm this is how we'd solve this with callbacks:
1) Our backend would set up an endpoint to be hit on `sign_url_invalid`
2) Our backend would expose an endpoint that verifies whether a url or token is valid for

[2020-06-05 16:47] hazemhamedhs commented on #153
@ditkin Totally possible, David.

I went ahead and filed a feature request on your behalf [internal reference - HSAPI-I-491]. It typically takes about 2-4 weeks for us to reach a decision on a product feature request. You can reach out to us at anytime to check on the status of the request.

Your flow sounds about right. Here is more information about our callback events and how to set them up [[L

[2020-06-12 10:52] kodermax commented on #75
New events did not help.
When the ready event fires, your loading continues to be displayed

[2020-06-12 21:37] hazemhamedhs commented on #75
Hi @kodermax,
Thank you for reaching out, and sorry for the inconvenience caused.
Would mind filing a ticket to apisupport@hellosign.com with your code snippet and exact steps to reproduce so we can dig deeper on our end and assist you further.
The more detail you can provide, the easier this should be to figure out.

[2020-07-08 13:26] Muddahany opened #156 "difficulties integrating hellosign-embedded with react-native"
Currently I am working my way in testing adding the embedded signing feature into our tablet app. I was able successfully to create a signUrl from our server side. Below is the error thrown whenever I import 'hellosign-embedded'.
[code]

[2020-07-08 14:14] hazemhamedhs commented on #156
Hi Mohamed,

Thank you for reaching out, and sorry for the inconvenience caused.

Going off the error message you are running into, it sounds like this may be caused by the way in which the signer page is being opened in the iframe.

Can you please check your email for a ticket that we created with you #10901346 detailing a possible workaround. In general, here are a couple of notes that you can t

[2020-07-08 14:14] #156 closed

[2020-07-10 20:35] jaypandya73 commented on #107
And you can also load `HelloSign` client after component mounted `componentDidMount` or `useEffect` if you're using hooks this way:

[code]
so this way `hellosign-embedded` package will have access to `window` object.

[2020-07-13 07:01] BarrBozzO opened #158 "Getting error - "Could not save! DOMException: Blocked a frame with origin "https://app.hellosign.com" from accessing a cross-origin frame...""
Hey Hellosign Team

Can't save template changes from embedded window. I am using a **free plan** account and testing in `localhost`

Getting next error:

[code]

----

### Steps:

1. Create a new draft template with:

[code]

2. using `edit_url` from prev step, open embedded window on Frontend side with:

[code]

3. Add fields and click **"Continue"**.

4. Get error mentioned above

[2020-07-13 19:08] hazemhamedhs commented on #158
Hi Konstantin,

Thank you for reaching out, and sorry for the inconvenience caused.

I've replied to your ask with us under ticket number #10956668 to tackle the root cause of the error accordingly.

I will be on the look-out for your next reply on the ticket.

[2020-07-13 19:08] #158 closed

[2020-07-23 22:36] janetanne opened #160 "Clarify event behavior change in v1 to v2 Migration Guide"
Customer wrote in to tell us that the migration from v1 to v2 had a major change in how events are handled, and that this behavior change is not explained in the migration guide:

Request to add a section about the changes in event behavior (tied to the on() and off() methods) to the migration guide.

Related ticket number: 11001942
Internal reference: 10214

[2020-07-27 04:44] Aravin commented on #107
It worked and saved my day.

[2020-07-28 09:51] vikasbenvanshi786 commented on #107
if (typeof window === 'undefined') {
  global.window = {}
}
On Which File you Add this Code?

[2020-07-28 15:55] Aravin commented on #107
You have to use in startup file.

Mostly `index.js` file.

[2020-07-31 20:43] icruzr93 opened #161 "Embedded Document raising TypeError: Cannot read property 'postMessage' of null"
We have implemented an embedded document functionality on our React website but for any reason the next error is being displayed sporadically, no clues about why:

<img width="1087" alt="Screen Shot 2020-07-31 at 15 34 46" src="https://user-images.githubusercontent.com/12176033/89075360-a6a01500-d343-11ea-8fe8-202183546919.png">

Code to replicate:

[code]

[2020-08-05 17:39] willbackslash commented on #161
+1

[2020-08-26 23:48] Sergio-Amount opened #162 "Request: Add an event when documents ready"
The current `ready` event fires before the loading animation is complete.
It would be useful for our company to have an event that fires when the loading animation is complete and the documents are visible.

<img width="597" alt="Screen Shot 2020-08-26 at 4 46 45 PM" src="https://user-images.githubusercontent.com/61711579/91367615-ce0bc580-e7bb-11ea-97ef-1e9275f8cbd6.png">

[2020-08-27 20:07] hazemhamedhs commented on #162
Hi Sergio,

Thank you for reaching out.

I've let my product team know about your request to add `doucment_visible` event, and I'll let you know about that idea as we think it through. Once it has been passed to the developing stage and released, you will make sure to keep you posted.

In the meantime, please feel free to email us at apisupport@hellosign.com if any further help needed.

_Internal

[2020-08-27 20:07] #162 closed

[2020-08-28 23:13] erosiec opened #163 "Event name change in v2 can cause target origin error"
The v1 event **HelloSign.EVENT_SENT** was renamed to **send** in v2 and this can result in a target origin error when completing some embedded workflows.

Error message:
 ‘postMessage’ on ‘DOMWindow’: The target origin provided (‘https://app.hellosign.com’) does not match the recipient window’s origin (‘https://usersdomain.here’)

Is it possible to update the migration guide or the 'Events' sectio

[2020-08-31 18:41] nathanbuchar commented on #160
Fixed in https://github.com/hellosign/hellosign-embedded/wiki/Migration-Guide-(v1-to-v2)

[2020-08-31 18:41] #160 closed

[2020-09-28 17:00] nathanbuchar commented on #163
Hey @erosiec, sorry for the delay. I'm trying to think how the event name changes could result in the target origin mismatch error, but I'm at a loss. I have a few q's:

1. Are you still experiencing target origin mismatch issues?
2. If not, did the issue resolve after using Embedded V2's `"send"` (aka `HelloSign.events.SEND`) instead of V1's `HelloSign.EVENT_SEND`?
3. Would you be interested in s

[2020-09-28 17:01] nathanbuchar commented on #163
btw the note about listing the v2 event counterparts in the upgrade guide is a good suggestion, I'll add that to my queue

[2020-09-28 17:56] nathanbuchar commented on #163
Just followed up with our team and it looks like everything has already been resolved. Please do let me know if you think this issue needs to be reopened! I'

[2020-09-28 17:56] #163 closed

[2020-09-28 21:00] jbkly commented on #154
I think this has been resolved, can the devs confirm?

[2020-09-28 22:10] johnnycupcakes commented on #154
Hello, thank you both for your comments.

You are correct @jbkly. The the Close "X" on the left side of the toolbar has been removed. I'll close this issue out - thanks again!

[2020-09-28 22:13] #154 closed

[2020-11-05 23:56] gfang200 opened #166 "CORS issue with Google Chrome"
Has issue [#143](https://github.com/hellosign/hellosign-embedded/issues/143) been resolved?

While using Google Chrome Version 86.0.4240.183 (Official Build) (x86_64) I am still getting the following CORS issue

The contract in the frame is also missing some of the icons. The problem only seems to be happening on Google Chrome, and across several different computers/networks. It seems to be workin

[2020-11-06 17:51] shalawfatah opened #167 "Can't pass the issue of Webpack Error: window is not defined"
Gatsby does not let me build my app, saying window is not define, while I clearly said
`{typeof window !== 'undefined' && {...}}`

- What is the problem here and how I can I solve it?

Here is all the code

[code]

[2020-12-17 22:59] hazemhamedhs opened #168 "Embedded editor not consuming the full height of its container in Safari"
A client ran into a cut off iFrame on Safari Version 14.0.2 (16610.3.7.1.9) due to not respecting the full height of the container. This also affected the original model when loading the iFrame in Safari too.

![image](https://user-images.githubusercontent.com/60492289/102553464-bcef0900-4077-11eb-9ae3-d933076ecbea.png)

Their current workaround is as the following due to having the height as 400:

[2020-12-21 23:07] grimunit opened #169 "Opening Embedded Template - "Something went wrong!""
I have been struggling with this issue for a couple of years now actually, when I first implemented HelloSign at my last company, and now again setting it up for my own startup.

Basically the embedded template tool opens up and lets you edit/create. But then on subsequent opens it will pretty consistently error out and say:

__________________________________
Something went wrong!
Your request se

[2021-01-11 22:15] hazemhamedhs commented on #169
Moving our discussion to the internal ticket #11877211.

For any future clients running into the same error, please write to apisupport@hellosign.com to better assist you on this matter.

[2021-01-11 22:15] #169 closed

[2021-01-12 01:02] grimunit commented on #169
This was my codes fault, turns out that I forgot that if you don't specify the network policy with the apollo client, it defaults to using the cache, so it wasn't going and explicitly re-querying for the new template edit url each time:

This:
[code]

Needed to be this:
[code]

[2021-02-09 12:29] ValdoGhafoor commented on #127
I'm sorry to tell you that even if Webpack parses your code and try to minify your embedded.development.js, it will not reduce its size more than 30% (tried with Vue-CLI), ended up with a 570kb hellosign-embedded in my bundle.

It could be a "I prefer this, I prefer that" question if majority of users did know about the 730Kb file that is sitting in the dist which is non sense if you have experien

[2021-02-15 18:48] ramonmulia opened #170 "client.on('error') not working when not_found is emmited"
After canceling the document I'm not able to listening for `not_found` error.

I see the error event is sent (debug: true)
but the message is:

**message:event=error&description=Error%20page%20displayed%20to%20signer%20because%20of%20error%20code%3A%20not_found**
on console I have: "[ERROR] Error page displayed to signer because of error code: not_found"

I'm not able to catch this error while lis

[2021-04-20 10:36] RameshDev92 commented on #156
Hi @Muddahany and @hazemhamedhs

I am also getting the same error when i am trying to integrate this in my react native mobile application.

Can you please share me your code if you have resolved this.

Thank you.

[2021-04-21 14:06] noseworthy opened #171 "Add Ability to Add Signer Attachments to Draft Signature Request"
We're able to add signer attachments via the API when creating an embedded unclaimed draft signature request, but in our app, we don't know what signers or attachments will be included in the signature request until the draft is opened in the embedded signature request editor and edited by the user.

Is is possible to add the ability to specify signer attachments in the embedded draft signature re

[2021-04-30 07:13] shivamragnar commented on #107
Are there any proper solutions to this? This error still persists even in 2.9 version.

[2021-05-18 17:45] nathanbuchar commented on #171
Hi @noseworthy, sorry for the late reply. The HelloSign Embedded library only wraps around our webapp, but it sounds like you have a question about the API. If you haven't already, I'd recommend reaching out to apisupport@hellosign.com

[2021-05-18 17:45] #171 closed

[2021-05-18 17:47] nathanbuchar commented on #170
Hi @ramonmulia, I believe there was a push recently to fix this. Do you know if the issue is still occurring?